@media (max-width: 1024px) {
  .header_menu {
    display: none;
  }

  .owl_text {
    max-width: 572px;
    padding: 40px 40px;
    right: 33%;
  }

  /* ======telefon */
  .telefon_img img {
    width: 43px;
  }
  /* =============header=============== */
  .header_logo img {
    width: 59px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
  }
  .header_search i {
    color: #ffffff;
    font-size: 22px;
  }
  /* ================burger================ */
  .burger {
    display: block;
  }
  /* =================header===================== */
  .header_menu {
    display: none;
  }
  .header_btn {
    display: none;
  }
  /* =====================sports=================== */
  .sports{
    padding: 20px;
  }
  .sports_card{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    place-items: center; 
  }
}
/* ====================1005 responsivi======================== */

@media (max-width: 1007px) {
  /* ================header hom=================== */
  .header_hom img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .header_homtext {
    width: 700px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 359px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
  }
  .header_hombtn {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 562px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* =================934px============= */

@media (max-width: 937px) {
  /* ===============header hom======== */
  .header_homtext {
    width: 701px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 297px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
  }
  .header_hombtn {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 463px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header_homtext h1 {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 75px;
  }
  .header_homtext p:nth-child(1) {
    font-family: 'Lexend-VariableFont_wght';
    color: #fff;
    font-size: 24px;
  }
  .header_many {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
    margin-bottom: 30px;
  }
  /* =============sports card============= */
  .sports_card {
    display: grid;
    grid-template-columns: auto;
  }
}

@media (max-width: 817px) {
  /* ==============header hom======== */

  .header_homtext h1 {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 58px;
  }
  .header_many {
    color: #fff;
    font-size: 19px;
    margin-bottom: 40px;
    margin-bottom: 30px;
  }

  .header_hombtn_2 {
    color: #002147;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    padding: 20px 45px;
    border: none;
    border-radius: 40px;
  }
  .header_hombtn_1 {
    margin-right: 20px;
    background-color: #2eca7f;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    padding: 20px 45px;
    border: none;
    border-radius: 40px;
  }
}

/* =================== 760 responsev=========== */

@media (max-width: 761px) {
  /* ===============header hom=========== */

  .header_homtext {
    max-width: 605px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 297px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
  }
  .header_homtext h1 {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 53px;
  }
  .header_hombtn {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 444px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header_homtext p:nth-child(1) {
    font-family: 'Lexend-VariableFont_wght';
    color: #fff;
    font-size: 19px;
  }
  /* ===================sports =================== */
  .sports_text h2 {
    color: black;
    font-size: 42px;
    font-family: 'Lexend', sans-serif;
}

}

/* ============== 625  responsev============== */

@media (max-width: 627px) {
  /* =================header home========== */
  .header_homtext {
    max-width: 498px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 297px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
  }
  .header_hombtn_1 {
    margin-right: 20px;
    background-color: #2eca7f;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    padding: 15px 38px;
    border: none;
    border-radius: 40px;
  }
  .header_hombtn_2 {
    color: #002147;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    padding: 15px 38px;
    border: none;
    border-radius: 40px;
  }
  /* ========================sports =================== */
  .sports_text p:nth-child(1) {
    font-family: 'Lexend', sans-serif;
    color: #7A7A7A;
    font-size: 18px;
    text-transform: uppercase;
}
  .sports_text h2 {
    color: black;
    font-size: 35px;
    font-family: 'Lexend', sans-serif;
}
.sport_cards_text h2 {
    color: #002147;
    font-size: 24px;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 20px;
}
.sport_cards_text p {
    color: #7A7A7A;
    font-size: 17px;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 15px;
    line-height: 1.8;
}
.sport_cards_text a {
    color: #2eca7f;
    font-size: 17px;
    font-family: 'Lexend', sans-serif;
    text-decoration: underline;
    font-weight: 500;
}
}

/* ==================566 responsev============ */

@media (max-width: 566px) {
  /* ================header hom============ */
  .header_homtext {
    max-width: 396px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 297px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
  }
  .header_homtext h1 {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 46px;
  }
  .header_homtext p:nth-child(1) {
    font-family: 'Lexend-VariableFont_wght';
    color: #fff;
    font-size: 19px;
  }
  .header_hombtn {
    width: 368px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 444px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* ===============425 responsrev============== */

@media (max-width: 427px) {
  /* ===============header hom========= */
  .header_homtext {
    max-width: 317px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 297px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
  }

  .header_many {
    color: #fff;
    font-size: 15px;
    margin-bottom: 40px;
    margin-bottom: 30px;
  }
  .header_homtext p:nth-child(1) {
    font-family: 'Lexend-VariableFont_wght';
    color: #fff;
    font-size: 16px;
  }
  .header_homtext h1 {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 43px;
  }

  /* =================sports============= */
  .sports_text h2 {
    color: black;
    font-size: 25px;
    font-family: 'Lexend', sans-serif;
}
.sports_text p:nth-child(1) {
    font-family: 'Lexend', sans-serif;
    color: #7A7A7A;
    font-size: 16px;
    text-transform: uppercase;
}
.sport_cards_text h2 {
    color: #002147;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 20px;
}
.sport_cards_text p {
    color: #7A7A7A;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 15px;
    line-height: 1.8;
}
.sport_cards_text a {
    color: #2eca7f;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    text-decoration: underline;
    font-weight: 500;
}
}

/* ===============375 responsive ============ */

@media (max-width: 376px) {
    /* ===========telefomn========== */
    /* .telefon{
        width: ; */
    /* } */
    /* ==========header hom=========== */
  .header_homtext h1 {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 41px;
  }
  .header_hombtn {
    width: 276px;
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 444px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header_hombtn_1 {
    margin-right: 20px;
    background-color: #2eca7f;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    padding: 12px 19px;
    border: none;
    border-radius: 40px;
  }
  .header_hombtn_2 {
    color: #002147;
    font-family: 'Lexend', sans-serif;
    font-size: 13px;
    padding: 11px 23px;
    border: none;
    border-radius: 40px;
  }

  /* ========sports============ */
  .sports_text h2 {
    color: black;
    font-size: 22px;
    font-family: 'Lexend', sans-serif;
}
.sports_text p:nth-child(1) {
    font-family: 'Lexend', sans-serif;
    color: #7A7A7A;
    font-size: 14px;
    text-transform: uppercase;
}
.sport_cards_text h2 {
    color: #002147;
    font-size: 19px;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 20px;
}
.sport_cards_text p {
    color: #7A7A7A;
    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 15px;
    line-height: 1.8;
}
.sport_cards_text a {
    color: #2eca7f;
    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    text-decoration: underline;
    font-weight: 500;
}
}
